{% extends "::Layout/layoutAdmin.html.twig" %}

{% block body -%}
    <h1>pages creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminPages') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
